<%= form_for @content, url: member_contents_path(@content.member), remote: true do |form| %>
  <div class="modal-header">
    <h5 class="modal-title">Add a content</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <div>
      <%= form.label :url, class: 'form-label' %><br>
      <%= form.text_field :url, class: 'form-control' %>
      <% @content.errors.full_messages_for(:url).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
    <div>
      <%= form.label :type_of_content, class: 'form-label' %><br>
      <%= form.select :type_of_content, [['Blog Post', 'Blog Post'], ['Youtube Video', 'Youtube Video']], {}, {class: 'form-control'} %>
    </div>
    <div>
      <%= form.label :description, class: 'form-label' %><br>
      <%= form.text_field :description, class: 'form-control' %>
      <% @content.errors.full_messages_for(:description).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <%= form.submit 'Save', class: 'btn btn-primary' %>
  </div>
<% end %>