<h1><%= @member.email %>’s profile</h1>
<div class="d-flex">
  <div class="w-25">
    <h2>About</h2>
    <div class="card" style="width: 18rem;">
      <ul class="list-group list-group-flush">
        <% if @member.name.present? %>
          <li class="list-group-item">Name: <%= @member.name %></li>
        <% end %>
        <% if @member.email.present? %>
          <li class="list-group-item">Email: <%= @member.email %></li>
        <% end %>
        <% if @member.github.present? %>
          <li class="list-group-item">GitHub: <%= @member.github %></li>
        <% end %>
        <% if @member.twitter.present? %>
          <li class="list-group-item">Twitter: <%= @member.twitter %></li>
        <% end %>
        <% if @member.location.present? %>
          <li class="list-group-item">Location: <%= @member.location %></li>
        <% end %>
        <% if @member.tags.present? %>
          <li class="list-group-item">Tags: <%= @member.tags.pluck(:name).join(', ') %></li>
        <% end %>
      </ul>
      <div class="card-body">
        <%= link_to 'Add a note', new_member_notes_path(@member),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#noteModal', class: 'text-primary'}  %>
      </div>
      <div class="card-body">
        <%= link_to 'Add a content', new_member_contents_path(@member),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#contentModal', class: 'text-primary'}  %>
      </div>
    </div>
  </div>
  <div>
    <h2>Their content</h2>
    <% @member.contents.each do |content| %>
      <figure>
        <blockquote class="blockquote type_of_content">
          <p><%= content.type_of_content %></p>
        </blockquote>
        <blockquote class="blockquote description">
          <p><%= content.description %></p>
        </blockquote>
        <blockquote class="blockquote url">
          <p><%= content.url %></p>
        </blockquote>
        <figcaption class="blockquote-footer">
          <%= content.created_at %>
        </figcaption>
        <div>
          <%# <%= link_to 'Edit the content', edit_member_contents_path(content),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#contentModal', class: 'text-secondary'} %>
        </div>
      </figure>
    <% end %>
    <br/>
    <h2>Their notes</h2>
    <% @member.notes.each do |note| %>
      <figure>
        <blockquote class="blockquote">
          <p><%= note.body %></p>
        </blockquote>
        <figcaption class="blockquote-footer">
          <%= note.created_at %>
        </figcaption>
      </figure>
    <% end %>
    <br/>
    <h2>Their activities</h2>
    <div class="list-group">
      <% @member.activities.each do |activity| %>
        <%= link_to activity.url, class: "list-group-item list-group-item-action mb-4", target: '_blank', rel: 'noopener' do %>
          <h5 class="mb-1"><%= activity.action %></h5>
          <p class="mb-1 ps-2 border-start border-3 text-secondary"><%= activity.description %></p>
          <small class="text-primary"><%= activity.url %></small>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div id="noteModal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      
    </div>
  </div>
</div>

<div id="contentModal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      
    </div>
  </div>
</div>